* {
  box-sizing: border-box;
}

:root {
  --background-color: #ebebeb;
  --primary-color: #265c70;
  --secondary-color: #525664;
  --third-color: #87abd2; 
  --font-family: 'Montserrat', sans-serif;; 
}

/* NAVBAR */
.navigation-list__item {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 18px;
}

.navigation-list__item--active,
.navigation-list__item:hover {
  color: var(--third-color);
}

.navigation-list li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.page-header {
  display: flex;
  width: 100%;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  margin-right: 20px;
}


.logo-mitchell {
  padding: 15px 15px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}
/* END OF NAVBAR */

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
}

p {
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
}


.button {
  text-align: center;
  width: 150px;
  border: none;
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

.buttons-link {
  margin-top: 40px;
  text-align: center;
}

/* INDEX PAGE */
.profile {
  margin: 80px auto;
  max-width: 700px;
  text-align: left;
}

.profile-pic {
  width: 250px;
  height: 320px;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
}

/* .profile-image-about{
  margin: auto;
} */

.profile-pic-about {
  width: 150px;
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.index-container {
  padding-top: 30px;
}

.index-h1 {
  font-weight: 600;
  color: var(--primary-color);
}

.index-p {
  text-align: left;
  line-height: 1.5;
  padding-top: 5px;
  padding-left: 310px;
}

/* END OF INDEX PAGE */

/* ABOUT PAGE */

.about-container {
  padding: 0 250px;
  line-height: 1.3;
}

.about-h1 {
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
  font-size: 50px;
}

.about-button {
  text-align: center;
  padding-top: 40px;
}

.about-p-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-p-2 {
  padding-bottom: 10px;
}

.about-p-3 {
  padding-bottom: 10px;
}

/* .about-p-4 {
  padding-bottom: 10px;
} */

.page-footer-about {
  padding-top: 0;
  margin-top: 60px;
}

/* END OF ABOUT PAGE */
/* WORK PAGE */

.work-h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: 50px;
}

.work-h2 {
  color: var(--background-color);
}

.work-p {
  /* color: var(--secondary-color); */
  color: var(--background-color);
  text-align: left;
  font-weight: 100;
}

.work-button {
  text-align: center;
  width: 150px;
  border: none;
  display: inline-block;
  background-color: var(--third-color);
  color: var(--background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
  margin-top: 20px;
}

.page-footer-work {
  margin-top: 40px;
}


@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    padding: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: var(--primary-color);
    padding: 0 30px 30px 30px;
    width: auto;
    min-height: auto;
    margin: 0;
    display: inline-block;
    opacity: 90%;
  }

  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* END OF WORK PAGE */

/* Case Study Page */

.img-postman-container {
  display: block;
  text-align: left;
  float: left;
  padding: 20px 20px 20px 20px;
}

.img-postman {
  display: block;
  width: 500px;
  height: auto;
}

.img-1-container {
  display: block;
  text-align: right;
  float: right;
  padding: 20px 100px 20px 20px;
}

.img-1 {
  display: block;
  width: 500px;
  height: auto;
}

.img-2-container {
  display: block;
  text-align: right;
  float: right;
  padding: 20px 100px 20px 20px;
}

.img-2-1, .img-2-2, .img-2-3 {
  display: block;
  width: 500px;
  height: auto;
}

.myFlix-title {
  text-align: center;
}

.beginning{
  padding: 10px 700px 10px 100px;
  text-align: left;
  display: block;
}

.middle-title {
  padding-top: 0;
  padding-bottom: 50px;
}

.middle-back, .middle-back-text {
  padding: 10px 100px 10px 700px;
  text-align: left;
  display: block;
}

.middle-back-section {
  padding: 100px 20px;
}

.middle-front-section {
  padding-top: 50px;
}


.middle-front {
  text-align: left;
  padding: 10px 300px 10px 300px;
}

.middle-front-title {
  text-align: center;
  padding: 10px 300px 10px 300px;
}

.img-2-row {
  display: flex;
  /* padding: 10px 100px 10px 100px; */
}

.col-2-1, .col-2-2, .col-2-3 {
  flex: 33%;
  padding: 25px;
  width: 100%;
}

.img-2-1, .img-2-2, .img-2-3 {
  max-width: 100%;
}

.looking-back-section {
  padding: 30px 0;
}


.end {
  text-align: left;
  padding: 20px 300px;
}

.end-title {
  text-align: center;
}

.credits-section {
  text-align: center;
}

.credits {
  text-align: left;
  padding: 0 500px 0 550px;
}

/* END OF CASE STUDY PAGE */

/* CONTACT PAGE */

.contact-container {
  text-align: left;
  margin: 0 400px;
  line-height: 1.3;
}

.contact-h1 {
  font-weight: 600;
  color: var(--primary-color);
  font-size: 50px;
  text-align: center;
}

.contact-p {
  text-align: left;
}

.contact-info {
  margin: 60px 0 ;
  text-align: center;
  line-height: 1.5;
  font-size: 25px;
  font-weight: 400;
  color: var(--primary-color);
}

.contact-city-p {
  text-align: center;
  margin: 0 380px;
}

.contact-email-p {
  text-align: center;
  margin: 0 380px;
}



/* END OF CONTACT PAGE */

/* PAGE FOOTER */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-footer-index {
  margin-top: 120px;
}

.social-media-link {
  text-decoration: none;
  width: 30px;
  margin: 5px;
}

.social-media-img {
  width: 40px;
}
/* END OF PAGE FOOTER */